

<!doctype html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html style="margin-inline: 10px;">
  <head>
    <title>BOM Compare</title>
  </head>
  <body>
    <h1>Upload your CSV files</h1>
    <form method="POST" action="/results" enctype="multipart/form-data">
        <p>Input File Path: <input type="text" name="fLocation"></p>
        <p><input type="file" name="file" accept=".csv"></p>
        <p><input type="file" name="file1" accept=".csv"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>


